@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');


@font-face {
  font-family: 'android';
  src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android';
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}
body {
    background-color: #C5EBD6;
    font-family: var(--fonte-padrao);
    position: ;
}

a.externo::after {
  content: '\00a0\1F517';
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}


main a {
  text-decoration: none;
  background-color: var(--cor1);
  color: #063d1e;
  padding: 2px 6px;
}

main a:hover {
    text-decoration: none;
    color: var(--cor4);


}
header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 30px;
  line-height: 2em;
  font-size: 1em;
}

header >h1 {
  color: white;
  font-weight: normal;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px black;
}

header >p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 5px;
   
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black; 
    
  }

nav >a:hover {
  background-color: var(--cor4);
  color: var(--cor3);
}


nav >a {
  padding: 10px;
  color: var(--cor1);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.5s;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px, 10px, 0px 10px black;
  border-radius: 0px 0px 20px 20px;
}

main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

article >h1 {
    color: var(--cor5);
    font-family: var(--fonte-android)
    
}

article >h2 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.3em;
    text-indent: 8px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

aside > h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside >ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714';
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: #2fa866;
  text-decoration: underline;
}
